<h1>Synthesisers</h1>

<% @synths.each do |synth| %>
  <%= image_tag synth.image, :class => 'img-thumbnail' %>

  <ul>
    <li>
      Name: <%= link_to synth.name, synth_path(synth.id) %>
    </li>

  </ul>
<% end %>
