<h1>All Synths</h1>

<% @synths.each do |synth| %>
  <%= image_tag synth.image, :class => 'thumb' %>

  <ul>
    <li>
      Name: <%= link_to synth.name, synth_path(synth.id) %>
    </li>
    <li>
      Voice Count: <%= synth.voices %>
    </li>

  </ul>
<% end %>
