<h1>All Bands</h1>

<% @bands.each do |band| %>
  <%= image_tag band.image, :class => 'thumb' %>

  <ul>
    <li>
      Name: <%= link_to band.name, band_path(band.id) %>
    </li>
    <li>
      Year Formed: <%= band.year_formed %>
    </li>
    <li>
      Albums available on discogs: <%=  %>
    </li>

  </ul>
<% end %>
