/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

  body {
    background-image:
      linear-gradient(45deg, rgba(25, 15, 25, 0.4), rgba(0, 0, 0, 0.8)),
      url("landingpage-bg.jpg");
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .container{
    background-color: white;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
  }

  .navbar-brand img {
    width: 100px;
  }

  a {
   text-decoration: none;
  }
